* {
  font-family: 'Outfit', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $main_BG;
  font-size: 18px;
  padding: 25px;
  flex-direction: column;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

p {
  color: $Soft_blue;
  font-size: 20px;
  font-weight: 500;
}

.container {
  background: $card_BG;
  border-radius: 25px;
  padding: 25px;
  margin-bottom: 20px;
  .card {
    margin-bottom: 25px;
    border-radius: 15px;
    overflow: hidden;
    cursor: pointer;
    display: grid;
    position: relative;
  }
  h3 {
    color: $white;
    margin-bottom: 30px;
  }
  h3:hover {
    color: $Cyan;
    cursor: pointer;
  }
}

.card-over {
  background: $Cyan;
  width: 100%;
  height: 100%;
  grid-column-start: 1;
  //make the card-hover overwrite the img card
  position: absolute;
  background-color: $Cyan;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  //position the icon in the middle
  img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
.card-over:hover {
  opacity: 0.6;
  cursor: pointer;
}

ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $line_color;
  margin-bottom: 20px;
  color: $Soft_blue;
  font-weight: 600;
  li {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin: 20px 0 20px 0;
    img {
      margin-right: 10px;
    }
  }
  li:first-child {
    color: $Cyan;
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: start;
  img {
    border: 1px solid $white;
    border-radius: 50%;
    width: 50px;
    margin-right: 20px;
  }
  span {
    color: $white;
    font-weight: 600;
  }
  span:hover {
    color: $Cyan;
    cursor: pointer;
  }
}

.attribution {
  font-size: 14px;
  text-align: center;
  color: $white;
}
.attribution a {
  color: $att;
}

//responsive
@media (min-width: 480px) {
  .container {
    width: 375px;
    margin: 0 auto 10px;
  }
}
