@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Markazi+Text&family=Outfit:wght@200&family=Poppins:ital,wght@0,300;1,100;1,500&display=swap');

@import 'colors';
@import 'main';
